<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/cache 
		http://www.springframework.org/schema/cache/spring-cache-4.1.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd"
		default-lazy-init="false" default-autowire="byName">
	<context:component-scan base-package="com.egouer.admin"/>
    <mvc:annotation-driven>
    	<!-- 使用fastjson返回序列化结果 -->
    	<mvc:message-converters register-defaults="true">  
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">  
                <property name="supportedMediaTypes" value="application/json"/>  
            </bean>  
        </mvc:message-converters>
    </mvc:annotation-driven>
	
   <!-- 引入jdbc配置文件 -->  
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/datasource.properties</value>
				<value>classpath:config/application.properties</value>
			</list>
		</property>
	</bean>
	<!-- <mvc:resources mapping="/**" location="/WEB-INF/views/"/> -->
    <import resource="auth/datasource-auth.xml"/>
    
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>  
        <property name="prefix" value="/WEB-INF/views/"/>  
        <property name="suffix" value=".jsp"/>  
    </bean>
	<!-- 拦截器 -->
   	<mvc:interceptors>
    	<mvc:interceptor>
    		<mvc:mapping path="/**"/>
    		<bean id="permissionInterceptor" class="com.egouer.admin.auth.interceptor.PermissionInterceptor"/>
    	</mvc:interceptor>
    </mvc:interceptors>
    <import resource="redis-client.xml"/> 
    <!-- AOP -->
    <aop:aspectj-autoproxy />
</beans>